<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender"> 
        <encoder charset="UTF-8"> <!-- encoder 可以指定字符集，对于中文输出有意义 -->
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender> 

    <!-- 输出到控制台和文件，可定义更多的 Appender -->

    <root level="ERROR">
        <appender-ref ref="stdout" />
    </root>
	<logger name="cn.buer" level="ERROR"/>
    <!-- 下面配置一些第三方包的日志过滤级别，用于避免刷屏 -->
    <logger name="org.springframework" level="ERROR"/>
    <logger name="org.apache" level="ERROR"/>
</configuration>